name: Database Backup from Nomadller Hostinger Premium Shared Web Hosting Server via. Scoop SQLyog Ultimate Trail (Available on "Banee Ishaque K Scoop App Versions Fork Bucket")

on:
  schedule:
    - cron: "0 */6 * * *"
  workflow_dispatch:

jobs:
  backup:
    runs-on: windows-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Install Scoop
        uses: winpax/scoop-setup@v1.0.0

      - name: Add "Banee Ishaque K Scoop App Versions Fork Bucket"
        run: scoop bucket add baneeishaque_app_versions_fork https://github.com/Baneeishaque/Scoop-App-Versions.git

      - name: Install SQLyog Ultimate Trail from "Banee Ishaque K Scoop App Versions Fork Bucket"
        run: scoop install baneeishaque_app_versions_fork\sqlyog-ultimate-trial

      - name: Run SQLyog Job Agent
        run: C:\Users\runneradmin\scoop\apps\sqlyog-ultimate-trial\current\SJA.exe "C:\workspace\Account-Ledger-Server\db_backup_jobs\nomadller-hostinger-temp-SQLyog-Scoop-Windows-GitHub-Actions.xml" -l"C:\workspace\Account-Ledger-Server\db_backup_logs_SQLyog\sja.log" -s"C:\workspace\Account-Ledger-Server\db_backup_sessions_SQLyog\sjasession.xml"

      - name: Configure Git
        uses: fregante/setup-git-user@v2.0.2

      - name: Add Changes
        run: |
          git add C:\workspace\Account-Ledger-Server\db_backup_logs_SQLyog\sja.log
          git add C:\workspace\Account-Ledger-Server\db_backup_sessions_SQLyog\sjasession.xml
          git add C:\workspace\Account-Ledger-Server\db_backups\nomadller_hostinger_temp\*.zip

      - name: Commit Changes
        run: |
          DB_FILE=$(ls -t C:\workspace\Account-Ledger-Server\db_backups\nomadller_hostinger_temp\*.zip | head -n 1)
          SERVER_NAME="Nomadller Hostinger Premium Shared Web Hosting Server"
          DB_TIMESTAMP=$(TZ='Asia/Kolkata' date -r $DB_FILE "+%Y-%m-%d %H-%M-%S IST")
          SOFTWARE_NAME="SQLyog Ultimate Trail (Via. Scoop 'Banee Ishaque K Scoop App Versions Fork Bucket')"
          git commit -m "Added DB Backup file $(basename $DB_FILE) from ${SERVER_NAME} On ${DB_TIMESTAMP} Using ${SOFTWARE_NAME}"

      - name: Push Changes to Master
        uses: ad-m/github-push-action@v0.8.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: master
